// Colors
$off-black: #20222b;
$off-darkgrey: #333745; //#4169E1
$blue: #313d5c;//#3c4251
$light-blue: #404764;//#464b5e;
$off-grey: #a5b3d7;
$purple: #5762c5;//#8357c5;

// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;